/* Responsivo do site */
@media screen and (max-width: 1440px) {
  /* Cabeçalho do site */
  header {
    width: 1300px;
  }
  
  /* Container do formulário completo */
  #container-form {
    position: relative;
    left: -80px;
    width: 1000px;
    height: 650px;
    margin-top: 20px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    height: 590px;
  }
  
  /* box da imagem do formulario Totoro */
  #container-form #box-imgForm img {
    left: 760px;
    width: 439px;
    height: 650px;
  }
  
  /* Titulo principal do formulário */
  #container-form #box-formulario h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  
  /* Configuração de label e inputs do formulário */
  #container-form #box-formulario #formulario label, input {
    font-size: 18px;
  }
  
  #container-form #box-formulario #formulario label {
    margin-bottom: 10px;
  }
  
  #container-form #box-formulario #formulario input {
    margin-bottom: 15px;
  }
  }
  
  /* Telas de 1280px */ 
  @media screen and (max-width: 1280px) {
  /* Cabeçalho do site */
  header {
    width: 1200px;
  }
  
  /* Container do formulário completo */
  #container-form {
    position: relative;
    left: 0px;
    width: 800px;
    height: 600px;
    margin-top: 80px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 420px;
    height: 540px;
    margin-left: -30px;
  }
  
  /* box da imagem do formulario Totoro */
  #container-form #box-imgForm img {
    left: 505px;
    width: 300px;
    height: 600px;
  }
  
  #container-form #box-formulario #formulario input {
    margin-bottom: 10px;
  }
  }
  
  /* Telas de 1040px */
  @media screen and (max-width: 1040px) {
  /* Cabeçalho do site */
  header {
    width: 900px;
    margin-top: 20px;
  }
  
  /* Container do formulário completo */
  #container-form {
    position: relative;
    left: 0px;
    width: 800px;
    height: 600px;
    margin-top: 200px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 450px;
    height: 540px;
    margin-left: -30px;
  }
  
  /* box da imagem do formulario Totoro */
  #container-form #box-imgForm img {
    left: 550px;
    width: 255px;
    height: 600px;
  }
  
  #container-form #box-formulario #formulario input {
    margin-bottom: 10px;
  }
  }
  
  /* Telas de 834px */
  @media screen and (max-width: 834px) {
  /* Cabeçalho do site */
  header {
    width: 700px;
  }
  
  body {
    background-position-x: -550px;
  }
  
  /* Container do formulário completo */
  #container-form {
    width: 700px;
    margin-top: 120px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 380px;
    margin-left: -40px;
  }
  
  /* box da imagem do formulario Totoro */
  #container-form #box-imgForm img {
    left: 450px;
    width: 250px;
  }
  
  #container-form #box-formulario #formulario input {
    margin-bottom: 10px;
  }
  }
  
  /* Telas de 428px */
  @media screen and (max-width: 428px) {
  /* Cabeçalho do site */
  header {
    width: 380px;
    height: 60px;
  }
  
  /* Imagem logo no cabeçalho */
  #header-box img {
    width: 50px;
    height: 50px;
  }
  
  /* Botão de login no cabeçalho */
  #header-box a {
    height: 35px;
    width: 140px;
    padding: 8px;
  }
  
  /* Container do formulário completo */
  #container-form {
    width: 380px;
    margin-top: 80px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 320px;
    margin-left: -50px;
  }
  
  /* box da imagem do formulario Totoro */
  #container-form #box-imgForm img {
    display: none;
  }
  
  #container-form #box-formulario #formulario input {
    margin-bottom: 10px;
  }
  }
  
  /* Telas de 428px */
  @media screen and (max-width: 414px) {
  /* Cabeçalho do site */
  header {
    width: 350px;
  }
  
  /* Imagem logo no cabeçalho */
  #header-box img {
    width: 50px;
    height: 50px;
  }
  
  /* Botão de login no cabeçalho */
  #header-box a {
    height: 35px;
    width: 140px;
    padding: 8px;
  }
  
  /* Container do formulário completo */
  #container-form {
    width: 350px;
    height: 570px;
    margin-top: 50px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 290px;
    height: 510px;
    margin-left: -50px;
  }
  
  /* box da imagem do formulario Totoro */
  #container-form #box-imgForm img {
    display: none;
  }
  
  /* Titulo principal do formulário */
  #container-form #box-formulario h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  /* Configuração de label e inputs do formulário */
  #container-form #box-formulario #formulario label, input {
    font-size: 16px;
  }
  
  /* Botão do formulário para criar conta */
  #container-form #box-formulario a {
    font-size: 16px;
    margin: 10px auto 0 auto;
    width: 150px;
  }
  }
  
  /* Telas de 390px */
  @media screen and (max-width: 390px) {
  /* Cabeçalho do site */
  header {
    width: 350px;
  }
  
  /* Imagem logo no cabeçalho */
  #header-box img {
    width: 50px;
    height: 50px;
  }
  
  /* Botão de login no cabeçalho */
  #header-box a {
    height: 35px;
    width: 140px;
    padding: 8px;
  }
  
  /* Container do formulário completo */
  #container-form {
    width: 350px;
    height: 570px;
    margin-top: 10px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 290px;
    margin-left: -50px;
  }
  
  /* box da imagem do formulario Totoro */
  #container-form #box-imgForm img {
    display: none;
  }
  
  /* Titulo principal do formulário */
  #container-form #box-formulario h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  /* Configuração de label e inputs do formulário */
  #container-form #box-formulario #formulario label, input {
    font-size: 16px;
  }
  
  /* Botão do formulário para criar conta */
  #container-form #box-formulario a {
    font-size: 16px;
    margin: 10px auto 0 auto;
    width: 150px;
  }
  }
  
  /* Telas de 375px */
  @media screen and (max-width: 375px) {
  /* Cabeçalho do site */
  header {
    width: 330px;
    margin-top: 10px;
  }
  
  /* Container do formulário completo */
  #container-form {
    width: 320px;
    height: 550px;
    margin-top: 18px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 260px;
    height: 490px;
    margin-left: -50px;
    
  }
  
  /* Titulo principal do formulário */
  #container-form #box-formulario h1 {
    position: relative;
    top: -30px;
    font-size: 28px;
    margin-bottom: 0px;
  }
  }
  
  /* Telas de 320px */
  @media screen and (max-width: 320px) {
  body {
    background-position-x: 0px;
  }
  
  /* Cabeçalho do site */
  header {
    width: 280px;
    height: 50px;
  }
  
  #header-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  header #header-box img {
    display: none;
  }
  
  #header-box a {
    margin-right: 0px;
  }
  
  /* Container do formulário completo */
  #container-form {
    width: 280px;
    height: 460px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  /* Box do formulario de preenchimento de dados */
  #container-form #box-formulario {
    width: 240px;
    height: 395px;
    margin-left: -50px;
  }
  
  /* Titulo principal do formulário */
  #container-form #box-formulario h1 {
    position: relative;
    top: -30px;
    font-size: 20px;
    margin-bottom: -20px;
  }
  
  /* Configuração de label e inputs do formulário */
  #container-form #box-formulario #formulario label, input {
    font-size: 14px;
  }
  
  #container-form #box-formulario #formulario label {
    margin-bottom: 10px;
  }
  
  #container-form #box-formulario #formulario input {
    margin-bottom: 5px;
  }
  
  /* Botão do formulário para criar conta */
  #container-form #box-formulario a {
    font-size: 14px;
    margin: 10px auto 0 auto;
    width: 120px;
  }
  }